<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>系统提示</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="alert alert-info alert-dismissible fade in" role="alert">
            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>*@
            <strong>系统正在开发中！</strong> 预计本月 2019-06-01 上线，敬请期待。
            </div>
        </div>
    </div>
</div>
