<div class="profile clearfix">
  <div class="profile_pic">
    <img src="@ViewData["LoginUserAvatarPath"]" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <h2>@ViewData["LoginUserName"]</h2>
  </div>
</div>
