@{
    Layout = "_PortalLayout";
}

<div class="row">
    <div class="col-md-3 mb-5">
        <h2>管理个人信息</h2>
        <hr>
    </div>
    <div class="col-md-9 mb-5">
        <h2>个人信息简介</h2>
        <hr>
    </div>
</div>