<!-- 用于处理一些设置对象属性数据的的模态对话框 -->
<div class="modal fade" id="commonOperationModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h3 class="modal-title" id="commonOperationModalTitle">删除数据</h3>   标题，由打开这个模态框的 javascript 方法初始化 
            </div>*@
            <div class="modal-body" id="commonOperationModalPartial">
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger" onclick="gotoCommonOperationRefresh()"> 确定 </button>
            </div>*@
        </div>
    </div>
</div>

