@model ELearning.ViewModels.TeachingCourse.CourseItemContentVM
@using ELearning.Web.Helpers
@{
    var a = Model;
    var entityController = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="col-sm-12" >
                <div class="x_title">
                    @if (String.IsNullOrEmpty(Model.Name))
                    {
                        <h2>没有任何选定的课程内容单元！</h2>
                    }
                    else
                    {
                        <h2>@Model.Name</h2>
                    }
                    <div class="clearfix"></div>
                </div>
                <div id="courseItemContentEditor" class="x_content">
                    <div>
                        @if (Model.Video != null)
                        {
                            <video src="@Model.Video.VideoFilePath" controls width="720"></video>
                        }
                    </div>
                    <div>
                        @Html.SetHtml(@Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
