<!-- 用于处理业务数据新增或者编辑数据的弹出会话框 -->
<div class="modal fade" id="createOrEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="createOrEditAreaInModal" style="padding:8px">
                <!-- 内容，在这里是通过访问控制器 CreateOrEdit 方法返回的 _CreateOrEdit.chtml 进行渲染填充的 -->
            </div>
        </div>
    </div>
</div>
